<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</th:block>
<div th:fragment="header" id="header">
    <ul>
        <li><a href="/">Профиль</a></li>
        <li><a href="/tests">Пройти тест</a></li>
        <li><a href="/logout">Выйти</a></li>
    </ul>
</div>
</body>
</html>